@import '~antd/dist/antd.css';

#main-target .ant-card-body {
  padding-left: 31px;
}
#main-target canvas {
  margin-left: -14px;
}
#genre-detail .ant-collapse,
#genre-detail .ant-collapse > .ant-collapse-item {
  border: none !important;
  background: #fff;
}
#genre-detail .ant-collapse-content {
  border: none;
}
#genre-detail .ant-card-body {
  padding-left: 31px;
}
#genre-detail canvas {
  margin-left: -14px;
}
#genre-detail
  .ant-collapse-icon-position-right
  > .ant-collapse-item
  > .ant-collapse-header {
  padding-left: 0;
}
#genre-detail .task .ant-statistic-content {
  font-size: 20px;
}
#genre-detail .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 0;
}
#genre-detail .task ul {
  margin: 0;
  padding: 0;
}
#genre-detail .task li {
  list-style: none;
}
#genre-detail .task li .ant-checkbox-wrapper {
  margin-right: 10px;
}
